#mainPage{
    margin-top: var(--dim-navbar-margin);
    min-height: calc(100vh - 13rem);
    max-height: fit-content;
    width: var(--dim-page-width-large);
    gap: 0;
}

#contactImage{
    max-width: 60vw;
}

#title {
    text-align: center;
    font-size: calc(2.5*var(--ft-size));
    margin-top: 0;
    margin-bottom: 0.5em;
}

#contact-info a{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-line: underline;
    color: black;
}

/* ------------------------------------ */



/* switch to the SMALL SCREEN(vertical view)  */
@media screen and (max-width: 1300px){

    #mainPage{
        flex-direction: column !important;
    }
    
    #mainPage #contactImage{    
        max-width: 100%;
        margin-bottom: 0;
        padding: 1rem;
    }

}

