#mainPage{
    margin-top: 5rem;
    /* height: max(calc(100vh - 5rem), 458px); */
    /* height: min-content; */
    /* min-height: min-content; */

    overflow: hidden;
}

#mainPage img{
    display: block;
    max-width: 60vw;
    margin: auto;
}


/* ------------------------------------ */

#contactInfo{
    padding-left: 3em;
}

#contactInfo #information{
    padding-left: 1em;
    font-size: 2.5rem;
    
    text-align: left;
    white-space: normal;
    
}

#contactInfo a{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-line: underline;
    color: black;
}

/* ------------------------------------ */

#title{
    text-align: center;
    font-size: 3em !important;
}

@media screen and (max-width: 1700px){
    #mainPage img{
        display: none;
        /* flex-direction: column !important; */
        /* gap: 0; */
    }
    
    #contactInfo #information {
        padding-left: 0.25em;
    }
}

@media screen and (max-device-width: 770px){
    #mainPage{
        width: 100%;
    }

    #contactInfo{
        padding-top: 1rem;
        padding-left: 0.5em;
    }
    
    #contactInfo #information {
        padding-left: 0.25em;
    }
}
