*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --clr-red: red;
    --clr-white: white;
    --clr-grey: rgb(224, 224, 224);
    --clr-dark-grey: rgb(70, 70, 70);
    --clr-background: var(--clr-white);
    /* --clr-footer: var(--); */
    --clr-line: var(--clr-red);


    --dim-padding: 6rem;
    --dim-width: 90%;
    --dim-line-width: 80vw;
    --dim-line-thickness: 1px;
    
    --dim-gap: 5rem;

    --dim-box-padding: 0.75rem;
    --dim-box-padding: 0.75rem;

    --ft-base-size: 2.5rem;

    --ft-size-b2: calc( 1.2 * var(--ft-base-size) );
    --ft-size-b1: calc( 1.1 * var(--ft-base-size) );
    --ft-size: var(--ft-base-size);
    --ft-size-s1: calc( 0.9 * var(--ft-base-size) );
    --ft-size-s2: calc( 0.8 * var(--ft-base-size) );

    --shadow: 0 0 1em rgba(0,0,0, .25); 

    /* --font-type: ; */
}

body {
    margin: 0;
    background-color:var(--clr-white);
    z-index: 1;
}

/* ------------------------------------ */

.page-setup{
    width: var(--dim-width);
    padding: var(--dim-padding) 0;
    background-color: var(--clr-background);
    margin: auto;
}

.page-line{
    position: relative;
}

.page-line::before{
    content: "";

    position: absolute;
    
    top: 0%;
    left: 50%;
    transform: translateX(-50%);

    width: var(--dim-line-width);

    border: var(--dim-line-thickness) solid var(--clr-line);
    background-color: var(--clr-line);
    border-radius: 2em;
}

/* ------------------------------------ */

/* when an image and text are meant display side by side */
.img-info-template{
    display: flex;
    flex-direction: row;

    margin: 0 auto;

    gap: var(--dim-gap);
    
    font-size: var(--ft-size);
}

.reverse-img-info-template{
    flex-direction: row-reverse;
}


/* both image and text */
.img-info-template > *{
    display: block;
    padding: 1em;
    margin: auto;
}

/* only image */
.img-info-template > *:nth-child(1){
    
}

/* only text */
.img-info-template > *:nth-child(2){

}

/* ------------------------------------ */

.box-container{
    padding: 0.5em;
    background-color: var(--clr-red);
}

.box-container img{
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.37)
}

/* ------------------------------------ */

.flex-box{
    /* not used anywhere */
    display: flex;
}


/* make the images and the nav bar not ele*/
img, .navBar, .slideshow-container{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

/* ------------------------------------ */
@media screen and (max-width: 700px){

    .img-info-template > *{
        padding: 0.5em !important;
    }
}

@media screen and (max-device-width: 425px){

    .mobile-text-padding{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .mobile-text-padding-small{
        padding: 0.5rem !important;
    }

    .mobile-text-size{
        font-size: 0.9em !important;
    }

    .page-setup{
        width: 100% !important;
    }

    .img-info-template > *{
        padding: 0.5em !important;
    }
    
}

@media screen and (max-device-width: 560px){

    .info-text{
        font-size: 2.3em !important;
    }

}
