/* 
    1. make the borders even on in the mobile 

*/

a{
    text-decoration: none;
}

.navBar {
    position: fixed;

    display: flex;
    flex-direction: row;
    
    Justify-content: space-between;

    top : 0;
    left: 0;
    right: 0;

    font-size: 1.4rem;
    /* height: 20rem; */

    background: #ff0000; /* Old browsers */
    background: -moz-linear-gradient(left,     #ffdbdb 0, #ff0000 90vw); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffdbdb 0, #ff0000 90vw); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,      #ffdbdb 0, #ff0000 90vw); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdbdb', endColorstr='#ff0000',GradientType = 1 ); /* IE6-9 */

    z-index: 1;
}

.navBar .icon{
    font-family: Georgia, 'Times New Roman', Times, serif; /* Manrope*/

    color: black;

    font-size: 2.7em;
    margin: auto 0;
    margin-left: 0.2em;

    /* padding: 0.2em 0.3em;  *come back to */
}

.navBar .icon .icon-box{
    display: flex;
    padding: 0.5rem 0;
}

.navBar .icon .icon-box img{
    margin: auto 0;

    width: 1.1em;
    height: 1.1em;
}

.navBar .icon .icon-box p{
    position: relative;
    top: 0.1em;

    color: black;

    display: inline;
    width: fit-content;

    margin: auto 0;
}
 
.navBar .icon:hover{
    cursor: pointer;
}


/* ------------------------------------ */

.navBar ul{ 
    display: flex;
    flex-direction: row;


    margin: 0 0;
    /* margin: auto 0; */

    padding: 0;
}

.navBar ul li{
    display: inline;
}

.link-button{
    display: block;
    
    height: 100%;

    color: white;

    font-family: Open Sans;
    font-size: 1.5em;
    font-weight: 100;


    cursor: pointer;

    
    padding: 0 0.5em;

    /* border-left: 2px solid black; */


    /* background-color: #DFDFDF; */

    /* margin: auto 0; */
    /* margin-right: 0.75rem; */

    /* -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
    
    box-shadow: 1px 1px 5px 0px #000000;
    -webkit-box-shadow: 1px 1px 5px 0px #000000;
    -moz-box-shadow: 1px 1px 5px 0px #000000; */
}


nav ul li .not-show-class {
    display: none;
}


.link-button p{
    display: flex;
    height: 100%;
    margin: auto 0;

    align-items: center;
}

.link-button:hover {
    background: #b80000;
    /* -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; */
    text-decoration: none;
}

.link-button:active {
	position: relative;
	top: 1px;
}


#multi-language-button{
    background-color: rgb(150, 150, 150); 
    color: black; 
    border-color: black;
}


/*  ------------ only for small view ------------- */

@media screen and (max-device-width: 300px), (max-width: 800px) {
    .navBar ul{
        display: none;
    }

    .navBar .menu-icon{
        display: block !important;

        margin: auto 0;
        margin-right: 1em;
    }

    /* ------------------------------------ */

    .menu-active{
        width: 100%;
        height: 100%;
        
        flex-direction: column-reverse;
        justify-content: start;

        background: rgb(214, 214, 214);
    }

    .menu-active .icon{
        display: none;
    }

    .menu-active .menu-icon{
        display: block;

        /* src: url('../Assets/NavBar/menu-close-icon.svg') !important; */

        margin: 1em !important;
        margin-right: 1.1em !important;
        margin-left: auto !important;

        width: 2em;
        height: 2em;
    }

    .menu-active ul{
        display: block;   
    }

    .menu-active ul .link-button{        
        font-size: 2.3em;

        height: fit-content;
        
        line-height: 1.8em;

        padding: 0;

        color: black;

        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;

        box-shadow: 0px 0px 0px 0px #000000;
        -webkit-box-shadow: 0px 0px 0px 0px #000000;
        -moz-box-shadow: 0px 0px 0px 0px #000000;

        border-top: 1px solid black;
        border-bottom: 1px solid black;

        border-left: none;
        border-right: none;
        
        background: rgb(214, 214, 214);
    }

    .menu-active ul .link-button p{
        justify-content: center;
    }

    .menu-active ul .link-button:hover{
        background: rgb(194, 194, 194);
    }
    
}
